* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-font: #e44232;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr ;
    grid-template-rows: minmax(3rem,1fr) 5fr;
}

.top-container {
    background-color: var(--color-font);
    grid-area: 1/1/2/3;
}

.sidebar-container {
    grid-area: 2/1/3/2;
}

.main-container {
    grid-area: 2/2/3/3;
}